@charset "utf-8";
/* CSS Document */
*{
	text-align: center;
	padding:0;
	margin:0;
	box-sizing:border-box;
	}
html {
	  scroll-behavior: smooth;
	}

/*去掉所有连接a的下划线*/
a{text-decoration: none;}


/*设置头部*/
#top-header{
	margin: 0 auto;
	box-sizing:border-box;
	background-image: url(../images/水彩花卉.jpg);
	background-repeat: no-repeat;/*不平埔*/
	background-size: cover;
	width: 100%;   /*伪类移动之前必须有*/
	height:750px;	/* 重点一 */
	background-attachment:fixed;
	text-align: center;		
}

/*设置logo————国货崛起字样*/
#top-header p{
	width:50%;
	margin:20px auto;
	letter-spacing: 2px;
}
#top-header>img{
	margin-top:200px;
}


/*设置导航navbar*/
.navbar{
	width:100px;
	height:400px;
	float:right;
	position:fixed;
	top:200px;
	right:0;

}
/*每一个项目100px高*/
ul li{
	width:100px;
	height:100px;
	list-style: none;
	padding:0 15px;

}
li a{
	color:#3C3C3C;
}

li a img:hover {
	background-color:#c3d7a6;
	animation:changeColor 2s infinite;
	}


/*设置第一部分*/
#page1{
	border:1p white solid;
	text-align: center;	
	background-image: url(../images/水彩背景.jpg);
	background-repeat: no-repeat;/*不平埔*/
	background-size: cover;
	width: 100%;   /*伪类移动之前必须有*/
	height: auto;	/* 重点一 */
	background-attachment:fixed;

}
/*设置双品购物节图的样式*/ 


#page2{
	border-top:1p white solid;
	margin:0 auto;
	text-align: center;	
	background-image: url(../images/太阳花.jpg);
	background-repeat: no-repeat;/*不平埔*/
	background-size: cover;
	width: 100%;   /*伪类移动之前必须有*/
	height: auto;	/* 重点一 */
	background-attachment:fixed;	

}


#page3{
	border-top:1px white solid;
	margin:0 auto;
	background-image: url(../images/水果汽水.jpg);
	background-repeat: no-repeat;/*不平埔*/
	background-size: cover;
	width: 100%;   /*伪类移动之前必须有*/
	height: auto;	/* 重点一 */
	background-attachment:fixed;
}

/*版块3的所有block框间距*/

#page4{
	border-top:1px white solid;
	background-image: url(../images/蓝色清新.jpg);
	background-repeat: no-repeat;/*不平埔*/
	width: 100%;
	height: auto;	/* 重点一 */
	background-size: cover; /* 重点二 */
	background-attachment: fixed;
	text-align: center;		
}

#page4 .block{
	text-align: center;
}

/*营销上*/
.block4-3{
	
	margin-top:80px;
	
}
/*4、品牌上阶梯图外边距*/
.block4-4{	
	margin-top:80px;	
}

/*解释文字距离数据图的距离*/
.block .text1{
	margin-top: 40px;
}
/*数据图*/
.chart{
	margin:0 auto;
	width:900px;
	height:500px;
}
/*一线二线图*/
.picture1 img{
	width:60%;
	margin-bottom:20px;/*图和text1的距离*/
}
/*一二线图下的文字边距*/
.picture1+.text1{
	margin-bottom: 80px;
}
/*脏脏包图*/
.picture2 img{
	margin-top:1rem;
	margin-bottom:50px;/*脏脏包图和飞跃之间距离*/
	width:55%;
	height:55%;

}
.picture3{
	margin-top:5rem;
}
/*图标合集*/
.picture3 img{
	margin-bottom:100px;
	width:55%;
	height:55%;
}
.picture3+.text1{
	margin-top:-20px;
}

/*图、文字、横线*/
.picture5 img{
	margin-bottom:60px;
}

h2{
	text-align: center;
	font-size: 30px;
	padding-top: 100px;
	padding-bottom: 30px;
}
/*设置（）小标题*/
h3{
	font-size:23px;
	line-height: 5rem;

}
h4{font-size:18px;}
/*设置1、小小标题*/

#chart2{
	margin-top:75px;
}
/*小米文字与网易的间距*/
#chart8+.text1{
	margin-bottom: 60px;
}
/*用户画像*/
#chart10{
	text-align: center;
	position:relative;
	left:7%;
}
.text1{
	font-family:STKaiti;
	text-indent: 2em;
	margin-top:20px;
	font-size:18px;
	width:68%;
	line-height: 2rem;
	letter-spacing: 4px;
	margin:0 auto;
	padding-bottom: 30px;
}
/*小字*/
.text1 p{
	font-family:STKaiti;
	font-weight: normal;
	margin-top:30px;
	font-size:14px;
	padding-bottom: 30px;
	
}

footer{
	margin-top:-30px;
	position: absolute;
	background-color:#37637f;
	text-align: center;
	width:100%;
	height: 400px;
}

footer p{
	color:white;
	position:relative;
	margin-top: 50px;
	margin-bottom:0px;
	font-size: 20px;
	text-align: center;
}
section {
	height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.iconbtn {
	width: 50px;
	height: 50px;
	text-decoration: none;
	margin: 20px;
	position: relative;
	font-size: 30px;
	border-radius: 50%;
}
.iconbtn::before {
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.iconbtn::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 50%;
	z-index: 0;
}
.s2 .iconbtn {
	color: white;
}
.s2 .iconbtn {
	border: 3px solid;
}
.s2 .iconbtn:hover {
	animation: ro 2s linear infinite;
}

.s4 .iconbtn {
	border: 3px solid white;
	color: palevioletred;
}
.s4 .iconbtn::after {
	background: white;
	transition: 0.4s;
}
.s4 .iconbtn:hover::after {
	transform: scale(1.3);
	opacity: 0;
}
.s4 .iconbtn:hover {
	color: #3F51B5;
}

@keyframes ro {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
